.header {
    background-color: #ffda0a;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 56px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto';
    color: #000;
}